<li class="block">
  <%= image_tag message.image.url, class: "image-show" %>
  <p id="body"><%= message.body %></p>
  <p id="time"><%= time_ago_in_words(message.created_at) %> ago</p>
  <div class="voting">
    <p> <%= link_to "Great Face", [message, :upvote], method: :post %> or 
    <%= link_to "Good Face", [message, :downvote], method: :post %>?</p>
    <p>Great Face Count: <%= message.score %></p>
</div>
</li>
