<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.email_field :name %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>
