<section class="chatroom-container">
    <ul class="messages">
      <%= render @messages %>
    </ul>
</section>

<div class="chat-form">
  <%= form_for @message do |form| %>
    <%= form.text_area :body, placeholder: "Type message here" %>
    <%= form.hidden_field :image, value: "" %>
    <%= form.submit "Send Message", class: "message-button" %>
  <% end %>
</div>

<section class="form-container">
  <div class="chat-form">
    <div>
      <video class="video" autoplay></video>
      <canvas id="video-canvas" style="display:none;" width="640" height="480"></canvas>
    </div>
    <%= form_for @message do |form| %>
      <%= form.text_field :body, placeholder: "Type message here" %>
      <%= form.hidden_field :image, value: "" %>
      <%= form.submit "Send", class: "message-button" %>
    <% end %>
  </div>
</section>

<div class="online-users">
  <p class="rotate90">Online Users</p>
  <ul>
    <%= render "online_users", online_users: @online_users %>
  </ul>
</div>

<%= javascript_tag do %>
  window.PUSHER_KEY = "<%= ENV.fetch("PUSHER_KEY") %>";
<% end %>
