<div class="chatroom">
  <ul class="messages">
    <%= render @recent_messages %>
  </ul>
</div>

<section class="form-container">
  <div class="chat-form">
    <div>
      <video class="video" autoplay></video>
      <canvas id="video-canvas" style="display:none;" width="640" height="480"></canvas>
    </div>
    <%= form_for @message do |form| %>
      <%= form.text_field :body, placeholder: "Type message here", maxlength: 50 %>
      <%= form.hidden_field :image, value: "" %>
      <%= form.submit "Send", class: "message-button" %>
    <% end %>
  </div>
</section>

<div class="online-users">
  <p class="rotate90">Online Users</p>
  <ul>
    <%= render "online_users", online_users: @online_users %>
  </ul>
</div>

<%= javascript_tag do %>
  window.PUSHER_KEY = "<%= ENV.fetch("PUSHER_KEY") %>";
<% end %>

<div>
  <img src="" width="160" height="120">
</div>

<video autoplay></video>
<canvas id="video-canvas" style="display:none;" width="640" height="480"></canvas>

<div class="best-of">
  <div class="rotate90">
    Best of FaceSpace
    <%= render @messages.top_five %>
  </div>
</div>
