<section class="chatroom-container">
    <ul class="messages">
      <%= render @messages %>
    </ul>
</section>

<section class="form-container">
  <div class="chat-form">
    <div>
      <video class="video" autoplay></video>
      <canvas id="video-canvas" style="display:none;" width="640" height="480"></canvas>
    </div>
    <%= form_for @message do |form| %>
      <%= form.text_field :body, placeholder: "Type message here" %>
      <%= form.hidden_field :image, value: "" %>
      <%= form.submit "Send", class: "message-button" %>
    <% end %>
  </div>

  <div class="online-users">
    <h4>Online Users</h4>
    <ul>
      <%= render "online_users", online_users: @online_users %>
    </ul>
  </div>
</section>

<%= javascript_tag do %>
  window.PUSHER_KEY = "<%= ENV.fetch("PUSHER_KEY") %>";
<% end %>
