<div class="chatroom">
<ul><%= render @messages %></ul>
</div>

<div class="chat-form">
<%= form_for @message do |form| %>
  <%= form.text_area :body, placeholder: "Type message here" %>
  <%= form.text_field :url, placeholder: "Enter image URL" %>
  <%= form.submit "Send Message" %>
<% end %>
</div>

<div id="online_users">
  <%= render "online_users", online_users: @online_users %>
</div>

<ul id="messages">
  <%= render @messages %>
</ul>

<%= javascript_tag do %>
  window.PUSHER_KEY = "<%= ENV.fetch("PUSHER_KEY") %>";
<% end %>
