<!DOCTYPE html>
<html>
<head>
  <title>Chatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  You are signed in as <%= current_user.username %>
  <%= link_to "sign-out", :session, method: :delete %>
<% else %>
  <%= link_to "sign-up", [:new, :user] %>
  <%= link_to "sign-in", [:new, :session] %>
<% end %>

<%= yield %>

</body>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
</html>
